<div>
<h1>TO-Do Lists</h1>
<h3>A place to store your todos</h3>
<h3>Filter your to-dos</h3>
<table>
    <thead>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let todoItem of todoItems; index as i">
            <td>{{i+1}}</td>
            <td>
                <app-todo-item
                  [todoItem]="todoItem"
                  (markItemAsCompleteEvent)="completeTask($event, i)"
                  (markItemAsRemovedEvent)="removeTask($event)"
                ></app-todo-item>
              </td>
        </tr>
    </tbody>
</table>
            
<app-todo-form (saveEvent)="addTask($event)"></app-todo-form>
</div>