.formDisplay{
    text-align: left;
    font-family: Open Sams;
    font-weight: 300;
    align-content: center;
    margin-left: auto; 
    margin-right: auto;
    width:400px;
    background-color: white;
}

.textbox{
    width:350px;
}

td {
    text-align: left;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-size: medium;
}

