.completeBtn{
    color: #ff69b4;
    border: #ff69b4 ;
    border-style: ridge;
}

table{
    text-align: center;
    align-content: center;
    border-collapse: collapse;
    width:100%;
}

td {
    text-align: left;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-size: medium;
}