<div class="formDisplay">
    <table>
        <tr>
           <td [ngStyle]="{'width' : '20%'}">
                <button *ngIf="!(todoItem.completed)" [class.completeBtn]="!(todoItem.completed)" 
                type="button" (click)="markAsCompletedEvent()">Complete</button>
           </td>
           <td [class.completed]= "todoItem.completed" [ngStyle]="{'width' : '100%'}">
              {{todoItem.task}}
           </td>
           <td [ngStyle]="{'width' : '40%'}">
              <button type="button" (click)="removedEvent()">X</button>   
           </td>
        </tr>
    </table>
</div>
